@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.CountdownFooter {
  text-align: center;

  &__time {
    font-weight: 600;
    white-space: nowrap;
  }

  &__zone {
    font-weight: 600;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.15rem;
  }
}
