@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~sass-material-colors/sass/sass-material-colors';
@import 'src/mixins/gradients';

.CountdownTimer {
  flex: 1;
  display: flex;
  padding: map-get($spacers, 5) 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 2.5rem;
    text-align: center;
  }

  &--text-light {
    color: color('white');
  }

  &--text-dark {
    color: gray('900');
  }

  @include make-theme-gradient-bgs('&--bg-');
}
