@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.Banner {
  display: flex;
  margin: 0 auto;
  max-width: map-get($container-max-widths, lg);
  flex-flow: column;
  text-align: center;

  &--sm {
    @include media-breakpoint-up(sm) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
