@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/tooltip';

.AbbrWithTooltip {
  position: relative;
  display: inline-block;
  text-underline-position: under;
  white-space: nowrap;

  // Hide focus indicator for pointer focus but not for keyboard focus
  &:focus:not(:global(.focus-visible)) {
    outline: none;
  }

  @include hover-focus() {
    &::before,
    &::after {
      position: absolute;
      top: add(100%, 1px);
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      z-index: $zindex-tooltip;
    }

    &::before {
      // Caret up
      content: '';
      border-width: 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: $tooltip-arrow-color;
    }

    &::after {
      // Tooltip below
      @extend .tooltip-inner;
      max-width: unset;

      content: attr(data-original-title);
      margin-top: $tooltip-arrow-height;
      @include font-size($tooltip-font-size);
      font-weight: normal;
    }
  }
}
